
.search-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    height: 100vh;
    padding-top: 15vh; 
}


.search-bar {
    font-size: 1.5em; 
    padding: 10px 20px; 
    margin: 5px; 
    width: 70%; 
    max-width: 600px; 
}
select {
    font-size: 1.5em; 
    padding: 10px 20px; 
    margin: 5px; 
    width: auto; 
    max-width: 600px; 
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    max-width: 800px; 

}

.search-results-list-empty {
    background-color: transparent !important; /* Overrides other background-color settings when list is empty */
    /* Other styles remain the same */
}
.search-results-list {
    width: 80%; 
    max-width: 800px; 
    margin-top: 20px;
    padding: 10px;
    list-style-type: none;
    display: block; 
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    top: calc(15vh + 60px);
    background-color: rgb(209, 226, 241);
    border-radius: 5%;
}

.search-result-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    max-height: 150px;
    
}
.search-result-item:hover {
   transform: scale(1.02);
   transition-duration: 200ms;
}

.title {
    flex-grow: 1;
    margin-right: 20px;
    font-size:large;
    font-weight: bolder;
    width:200px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.title, .year {
    flex: 1; /* Allows both title and year to expand */
    text-align: left; /* Ensures text is aligned to the left */
    
    overflow: hidden; /* Hides overflow */
    text-overflow: ellipsis; /* Adds ellipsis to overflow text */
}
.title-year-box {
    display: flex; /* Use Flexbox for alignment */
    align-items: center; /* Aligns items vertically in the center */
    justify-content: flex-start; /* Aligns items to the start of the box */
    margin-bottom: 10px; /* Optional: adds some space below the box */
}

.movie-poster {
    width: 75px;
    height: auto;
}

.year {
    flex: 0 1 auto; 
    margin-left: 10px; 
    font-style: italic;
}

.overview {
    display: flexbox;
    margin-left: 12%;
    font-family: monospace;
}

